<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{WORKS_LINK}">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{NEWS_LINK}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{ABOUT_LINK}">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{CONTACTS_LINK}">Contacts</a>
            </li>
        </ul>
    </div>
    <div class="avatar-container">
        <div class="avatar-img-border">
            <img alt="Navbar avatar" class="avatar-img" src="{AVATAR_PATH}">
        </div>
    </div>
</nav>
<header class="header-section{HEADER_CLASSES}">
    {HEADER_CONTENT}
</header>
